*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
button{
    width: 250px;
    padding: 1rem;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(255, 40, 147);
    color: black;
    border: 4px solid rgb(233, 146, 190);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px black;
}
button:hover{
    background-color: rgb(34, 33, 33);
    color: white;
    border: none;
    transform: scale(1.1);
}
.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.251);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup-container.active{
    display: flex;
}
.popup{
    width: 500px;
    padding: 3rem;
    background-color: rgb(49, 0, 27);
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px #111;
    position: relative;
    transition: 0.2s all linear;
}
.popup:hover{
    transform: scale(1.1);
}
.popup >* {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#close{
    background-color: transparent;
    width: 70px;
    border-radius: 50%;
    font-size: 2rem;
    border: 5px solid white;
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}
#close:hover{
    background-color: red;
    color: goldenrod;
}